<section class="section customers-section">
  <div class="container customers-container">
    <div class="customers-thumb">
      <h3 class="overhead-title">OUR EXPERIENCE</h3>
      <h2 class="page-title">What Our Customers Say About Us</h2>
      <div class="customers__item active">
        <p class="paragraph customers-paragraph">
          <span>
            <svg width="19" height="16">
              <use href="../img/svg/icons.svg#icon-open-quotes"></use>
            </svg>
          </span>
          There are many variations of passages of Lorem Ipsum available, but
          the majority have suffered alteration in some form, by injected
          humour, or randomised words which don't look even slightly believable.
          <span>
            <svg width="19" height="16">
              <use href="../img/svg/icons.svg#icon-close-quotes"></use>
            </svg>
          </span>
        </p>
        <div class="customers-sign">
          <img
            class="customer-img"
            src="../img/customers/ari-smith.png"
            alt="customer Ari Smith"
            width="47"
            height="47"
          />
          <h4>
            Ari Smith
            <span>
              <svg class="point-icon" width="4" height="4">
                <use href="../img/svg/icons.svg#icon-point"></use>
              </svg>
            </span>
          </h4>
          <p class="customers-sign-paragraph">Food Enthusiast</p>
          <svg class="stars-icon" width="75" height="10">
            <use href="../img/svg/icons.svg#icon-stars"></use>
          </svg>
        </div>
      </div>
      <div class="customers__item">
        <p class="paragraph customers-paragraph">
          <span>
            <svg width="19" height="16">
              <use href="../img/svg/icons.svg#icon-open-quotes"></use>
            </svg>
          </span>
          There are many variations of passages of Lorem Ipsum available, but
          the majority have suffered alteration in some form, by injected
          humour, or randomised words which don't look even slightly believable.
          <span>
            <svg width="19" height="16">
              <use href="../img/svg/icons.svg#icon-close-quotes"></use>
            </svg>
          </span>
        </p>
        <div class="customers-sign">
          <img
            class="customer-img"
            src="../img/customers/customer-2.png"
            alt="customer 2"
            width="47"
            height="47"
          />
          <h4>
            Customer 2
            <span>
              <svg class="point-icon" width="4" height="4">
                <use href="../img/svg/icons.svg#icon-point"></use>
              </svg>
            </span>
          </h4>
          <p class="customers-sign-paragraph">Customer 2</p>
          <svg class="stars-icon" width="75" height="10">
            <use href="../img/svg/icons.svg#icon-stars"></use>
          </svg>
        </div>
      </div>
      <div class="customers__item">
        <p class="paragraph customers-paragraph">
          <span>
            <svg width="19" height="16">
              <use href="../img/svg/icons.svg#icon-open-quotes"></use>
            </svg>
          </span>
          There are many variations of passages of Lorem Ipsum available, but
          the majority have suffered alteration in some form, by injected
          humour, or randomised words which don't look even slightly believable.
          <span>
            <svg width="19" height="16">
              <use href="../img/svg/icons.svg#icon-close-quotes"></use>
            </svg>
          </span>
        </p>
        <div class="customers-sign">
          <img
            class="customer-img"
            src="../img/customers/customer-3.png"
            alt="customer Ari Smith"
            width="47"
            height="47"
          />
          <h4>
            Customer 3
            <span>
              <svg class="point-icon" width="4" height="4">
                <use href="../img/svg/icons.svg#icon-point"></use>
              </svg>
            </span>
          </h4>
          <p class="customers-sign-paragraph">Customer 3</p>
          <svg class="stars-icon" width="75" height="10">
            <use href="../img/svg/icons.svg#icon-stars"></use>
          </svg>
        </div>
      </div>
      <div class="customers__item">
        <p class="paragraph customers-paragraph">
          <span>
            <svg width="19" height="16">
              <use href="../img/svg/icons.svg#icon-open-quotes"></use>
            </svg>
          </span>
          There are many variations of passages of Lorem Ipsum available, but
          the majority have suffered alteration in some form, by injected
          humour, or randomised words which don't look even slightly believable.
          <span>
            <svg width="19" height="16">
              <use href="../img/svg/icons.svg#icon-close-quotes"></use>
            </svg>
          </span>
        </p>
        <div class="customers-sign">
          <img
            class="customer-img"
            src="../img/customers/customer-4.png"
            alt="customer 4"
            width="47"
            height="47"
          />
          <h4>
            Customer 4
            <span>
              <svg class="point-icon" width="4" height="4">
                <use href="../img/svg/icons.svg#icon-point"></use>
              </svg>
            </span>
          </h4>
          <p class="customers-sign-paragraph">Customer 4</p>
          <svg class="stars-icon" width="75" height="10">
            <use href="../img/svg/icons.svg#icon-stars"></use>
          </svg>
        </div>
      </div>
      <div class="customers__item">
        <p class="paragraph customers-paragraph">
          <span>
            <svg width="19" height="16">
              <use href="../img/svg/icons.svg#icon-open-quotes"></use>
            </svg>
          </span>
          There are many variations of passages of Lorem Ipsum available, but
          the majority have suffered alteration in some form, by injected
          humour, or randomised words which don't look even slightly believable.
          <span>
            <svg width="19" height="16">
              <use href="../img/svg/icons.svg#icon-close-quotes"></use>
            </svg>
          </span>
        </p>
        <div class="customers-sign">
          <img
            class="customer-img"
            src="../img/customers/customer-5.png"
            alt="customer 5"
            width="47"
            height="47"
          />
          <h4>
            Customer 5
            <span>
              <svg class="point-icon" width="4" height="4">
                <use href="../img/svg/icons.svg#icon-point"></use>
              </svg>
            </span>
          </h4>
          <p class="customers-sign-paragraph">Customer 5</p>
          <svg class="stars-icon" width="75" height="10">
            <use href="../img/svg/icons.svg#icon-stars"></use>
          </svg>
        </div>
      </div>
    </div>

    <div class="map-thumb">
      <a class="customers-icon" id="customer-2" href="">
        <img
          src="../img/customers/customer-2.png"
          alt=""
          width="47"
          height="47"
        />
      </a>
      <a class="customers-icon" id="customer-3" href=""
        ><img
          src="../img/customers/customer-3.png"
          alt=""
          width="47"
          height="47"
        />
      </a>
      <a class="customers-icon" id="customer-4" href=""
        ><img
          src="../img/customers/customer-4.png"
          alt=""
          width="47"
          height="47"
      /></a>
      <a class="customers-icon" id="customer-5" href="">
        <img
          src="../img/customers/customer-5.png"
          alt=""
          width="47"
          height="47"
      /></a>
      <a class="customers-icon active" id="ari-smith" href="">
        <img
          src="../img/customers/ari-smith.png"
          alt=""
          width="47"
          height="47"
        />
      </a>
      <img
        src="../img/customers/customers-map.png"
        alt="customers on the map"
        width="540"
        height="275"
      />
    </div>
  </div>
</section>
