<section class="section section-color experience-section">
  <div class="container experience-container">
    <img class="exp-img-mg" src="./img/experience/tourist-with-thumb.png" />
    <div class="exp-thumb">
      <h3 class="overhead-title exp-overhead-title">OUR EXPERIENCE</h3>
      <h2 class="page-title exp-page-title">
        With Our Experience We Will Serve You
      </h2>
      <p class="paragraph exp-paragraph">
        There are many variations of passages of Lorem Ipsum available,
        but&nbsp;&nbsp;&nbsp; the majority have suffered alteration in some
        form, by injected humour, or randomised words which don't look even
        slightly believable.
      </p>
      <ul class="our-experience">
        <li class="our-experience__item">
          <ul class="our-service">
            <li>290k</li>
            <li>Years</li>
            <li>Experience</li>
          </ul>
        </li>

        <li class="our-experience__item">
          <ul class="our-service">
            <li>460+</li>
            <li>Destination</li>
            <li>Collaboration</li>
          </ul>
        </li>
        <li class="our-experience__item">
          <ul class="our-service">
            <li>50k+</li>
            <li>Happy</li>
            <li>Customer</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
