<header class="section header-section">
  <div class="container header-container">
    <nav class="nav">
      <a class="logo logo--mg" href=""
        >Tra<span class="logo--accent">vella.</span></a
      >
      <ul class="nav__list">
        <li class="nav__item"><a href="" class="nav__link">Home</a></li>
        <li class="nav__item"><a href="" class="nav__link">About Us</a></li>
        <li class="nav__item"><a href="" class="nav__link">Destination</a></li>
        <li class="nav__item"><a href="" class="nav__link">Tour Package</a></li>
        <li class="nav__item"><a href="" class="nav__link">Blogs</a></li>
        <li class="nav__item"><a href="" class="nav__link">Contact Us</a></li>
      </ul>
    </nav>
    <button class="btn header-btn" type="button">View Tours</button>
  </div>
</header>
