<section class="section hero-section">
  <div class="container hero-container">
    <div class="hero-title-thumb">
      <img
        class="hero-img"
        width="102"
        height="98"
        src="/img/hero-lights.png"
      />
      <h1 class="main-title">It’s a Big World Out There, Go Explore</h1>

      <p class="hero-paragraph paragraph">
        It is a long established fact that a reader will be distracted by the
        readable content of a page when looking at its layout.
      </p>
      <div class="search">
        <button class="search__lockation settings--btn" type="button">
          <span>
            <svg class="icon-search" width="20" height="16">
              <use href="./img/svg/icons.svg#icon-map"></use>
            </svg>
            Location</span
          ><span class="search__point"> Pontianak,USA</span>
        </button>
        <button class="search__date settings--btn" type="button">
          <span>
            <svg class="icon-search" width="20" height="16">
              <use href="./img/svg/icons.svg#icon-date"></use>
            </svg>
            Date</span
          ><span class="search__point">26,May 2022</span>
        </button>
        <button class="search-btn" type="button">
          <svg width="20" height="24">
            <use href="./img/svg/icons.svg#icon-search"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
