<section class="section section-color">
  <div class="container perfection-container">
    <h3 class="overhead-title">3 STEP OR THE PERFECT TRIP</h3>
    <h2 class="page-title">Find Travel Perfection</h2>
    <p class="paragraph perfection-paragraph">
      It is a long established fact that a reader will be distracted bythe
      readable content of a page when looking at its layout.
    </p>
    <ul class="perfection">
      <li class="perfection__item">
        <a href="" class="perfection__link">
          <svg class="perf-icon" width="50" height="50">
            <use href="./img/svg/icons.svg#icon-dialog"></use>
          </svg>
          <h4 class="list-title perfect-list-title">
            Tell Us What You Want To Do
          </h4>
          <p class="paragraph">
            It is a long established fact that a reader will be content layout.
          </p>
        </a>
      </li>
      <li class="perfection__item">
        <a href="" class="perfection__link">
          <svg class="perf-icon" width="50" height="50">
            <use href="./img/svg/icons.svg#icon-share-lock"></use>
          </svg>
          <h4 class="list-title perfect-list-title">
            Share Your Travel Location
          </h4>
          <p class="paragraph">
            It is a long established fact that a reader will be content layout.
          </p>
        </a>
      </li>
      <li class="perfection__item">
        <a href="" class="perfection__link">
          <svg class="perf-icon" width="50" height="50">
            <use href="./img/svg/icons.svg#icon-share-date"></use>
          </svg>
          <h4 class="list-title perfect-list-title">
            Share Your Travel Perference
          </h4>
          <p class="paragraph">
            It is a long established fact that a reader will be content layout.
          </p>
        </a>
      </li>
    </ul>
  </div>
</section>
