<section class="section swiper-section">
  <div class="container swiper-container">
    <div #swiperRef="" class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div>
            <img src="../img/Slider/beautiful-tropical-beach-sea.jpg" />
            <h4>
              Enjoy The Beauty of The Ratio Hill Venezia,Italy 4.8 (2.5k
              Reviews)
            </h4>
          </div>
        </div>
        <div class="swiper-slide">
          <div>
            <img src="../img/Slider/beautiful-tropical-beach-sea.jpg" />
          </div>
        </div>
        <div class="swiper-slide">
          <div>
            <img src="../img/Slider/beautiful-tropical-beach-sea.jpg" />
          </div>
        </div>
        <div class="swiper-slide">
          <div>
            <img src="../img/Slider/beautiful-tropical-beach-sea.jpg" />
          </div>
        </div>
        <div class="swiper-slide">
          <div>
            <img src="../img/Slider/beautiful-tropical-beach-sea.jpg" />
          </div>
        </div>
        <div class="swiper-slide">
          <div>
            <img src="../img/Slider/beautiful-tropical-beach-sea.jpg" />
          </div>
        </div>
        <div class="swiper-slide">
          <div>
            <img src="../img/Slider/beautiful-tropical-beach-sea.jpg" />
          </div>
        </div>
        <div class="swiper-slide">
          <div>
            <img src="../img/Slider/beautiful-tropical-beach-sea.jpg" />
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <!-- <div class="swiper-pagination"></div> -->
    <!-- <p class="append-buttons">
      <button class="prepend-2-slides">Prepend 2 Slides</button>
      <button class="prepend-slide">Prepend Slide</button>
      <button class="append-slide">Append Slide</button>
      <button class="append-2-slides">Append 2 Slides</button>
    </p> -->
  </div>
</section>
