.header-section {
    position: absolute;
    width: 100%;
    padding: 0;
    
}
.header-container {
    display: flex;
    align-items: center;
   
}
.nav {
    display: flex;
    align-items: center;
}
.nav__list {
    display: flex;
    margin-right: 146px;
}

.logo--mg {
    margin-right: 136px;
}
.nav__item:not(:last-child) {
    margin-right: 30px;
}

.nav__link,
.logo {
    padding-top: 30px;
    padding-bottom: 30px;
    color: var(--main-menu-color);
}

.nav__link:hover,
.nav__link:focus {
    color: var(--main-accent-color)
}

.header-btn {
    margin-top: 30px;
    margin-bottom: 30px;
}