.perfection-container {
    text-align: center;
    
}
.perfection {
    display: flex;
}
.perfection-paragraph {
    margin-left: auto;
    margin-right: auto;
    width: 528px;
    margin-bottom: 65px;
}
.perfect-list-title {
    margin-bottom: 15px;
}
.perf-icon {
    margin-bottom: 27px;
}